    .node {
      stroke: #fff;
      stroke-width: 1.5px;
    }

    .link {
      stroke: #999;
      stroke-opacity: .6;
    }

    #btn{
        margin: 0px 0px 30px 30px;
    }
    svg{
        display: block;
        margin: 0 auto;
    }